// Copyright (c) Omlox Client Go Contributors
// SPDX-License-Identifier: MIT
//
// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omlox


import (
	"context"
	"net/http"
	"net/url"
	"strings"

)

// Providers is a simple wrapper around the client for Providers requests
type Providers struct {
	client *Client
}


// CreateLocationProvider create a location provider.
// Creates a new location provider and returns the created object.
func (p *Providers) CreateLocationProvider(ctx context.Context, locationProvider LocationProvider) (*LocationProvider, error) {
	requestPath := "/v1/providers"





	return sendStructuredRequestParseResponse[LocationProvider](
		ctx,
		p.client,
		http.MethodPost,
		requestPath,
		locationProvider,
		nil,
		nil,
	)




}



// DeleteLocations deletes the last known location for all location providers.
// This function deletes all locations for location providers known to the system.
func (p *Providers) DeleteLocations(ctx context.Context) (error) {
	requestPath := "/v1/providers/locations"







	_, err := sendRequestParseResponse[any](
		ctx,
		p.client,
		http.MethodDelete,
		requestPath,
		nil,
		nil,
		nil,
	)

	return err


}



// DeleteProviderById delete location provider.
// Deletes the location provider object with the given id.
func (p *Providers) DeleteProviderById(ctx context.Context, providerId string) (error) {
	requestPath := "/v1/providers/{provider_id}"
	requestPath = strings.Replace(requestPath, "{"+"provider_id"+"}", url.PathEscape(providerId), -1)







	_, err := sendRequestParseResponse[any](
		ctx,
		p.client,
		http.MethodDelete,
		requestPath,
		nil,
		nil,
		nil,
	)

	return err


}



// DeleteProviderLocationById delete location of location provider.
// Deletes the location object of the provider with the given id.
func (p *Providers) DeleteProviderLocationById(ctx context.Context, providerId string) (error) {
	requestPath := "/v1/providers/{provider_id}/location"
	requestPath = strings.Replace(requestPath, "{"+"provider_id"+"}", url.PathEscape(providerId), -1)







	_, err := sendRequestParseResponse[any](
		ctx,
		p.client,
		http.MethodDelete,
		requestPath,
		nil,
		nil,
		nil,
	)

	return err


}



// DeleteProviders delete all location providers.
// This function deletes all location providers known to the system.
func (p *Providers) DeleteProviders(ctx context.Context) (error) {
	requestPath := "/v1/providers"







	_, err := sendRequestParseResponse[any](
		ctx,
		p.client,
		http.MethodDelete,
		requestPath,
		nil,
		nil,
		nil,
	)

	return err


}



// GetAllLocations get all locations.
// Returns the last known location for all location providers.
func (p *Providers) GetAllLocations(ctx context.Context, crs string, zoneId string, geojson string) ([]Location, error) {
	requestPath := "/v1/providers/locations"


   requestQueryParameters := url.Values{}
   requestQueryParameters.Add("crs", parameterToString(crs))
   requestQueryParameters.Add("zone_id", parameterToString(zoneId))
   requestQueryParameters.Add("geojson", parameterToString(geojson))





	return sendRequestParseResponse[[]Location](
		ctx,
		p.client,
		http.MethodGet,
		requestPath,
		nil,
		requestQueryParameters,
		nil,
	)



}



// GetAllProviderObjects get an array of all location providers.
// Returns an array of all location provider objects.
func (p *Providers) GetAllProviderObjects(ctx context.Context) ([]LocationProvider, error) {
	requestPath := "/v1/providers/summary"






	return sendRequestParseResponse[[]LocationProvider](
		ctx,
		p.client,
		http.MethodGet,
		requestPath,
		nil,
		nil,
		nil,
	)



}



// GetAllProviderTrackables get all trackables which are linked to this provider.
// Returns the ids of all trackables which are linked to the location provider with the given id.
func (p *Providers) GetAllProviderTrackables(ctx context.Context, providerId string) ([]string, error) {
	requestPath := "/v1/providers/{provider_id}/trackables"
	requestPath = strings.Replace(requestPath, "{"+"provider_id"+"}", url.PathEscape(providerId), -1)






	return sendRequestParseResponse[[]string](
		ctx,
		p.client,
		http.MethodGet,
		requestPath,
		nil,
		nil,
		nil,
	)



}



// GetInsideFenceForProvider get all fences the location provider is within.
// Returns all fences for which the location providers is currently considered as being inside the respective fence, e.g., for which a region entry fence event was triggered.
func (p *Providers) GetInsideFenceForProvider(ctx context.Context, providerId string, spatialQuery bool) ([]Fence, error) {
	requestPath := "/v1/providers/{provider_id}/fences"
	requestPath = strings.Replace(requestPath, "{"+"provider_id"+"}", url.PathEscape(providerId), -1)


   requestQueryParameters := url.Values{}
   requestQueryParameters.Add("spatial_query", parameterToString(spatialQuery))





	return sendRequestParseResponse[[]Fence](
		ctx,
		p.client,
		http.MethodGet,
		requestPath,
		nil,
		requestQueryParameters,
		nil,
	)



}



// GetLocationByProviderId get location.
// Returns the last known location for a location provider.
func (p *Providers) GetLocationByProviderId(ctx context.Context, providerId string, crs string, zoneId string, geojson string) (*Location, error) {
	requestPath := "/v1/providers/{provider_id}/location"
	requestPath = strings.Replace(requestPath, "{"+"provider_id"+"}", url.PathEscape(providerId), -1)


   requestQueryParameters := url.Values{}
   requestQueryParameters.Add("crs", parameterToString(crs))
   requestQueryParameters.Add("zone_id", parameterToString(zoneId))
   requestQueryParameters.Add("geojson", parameterToString(geojson))





	return sendRequestParseResponse[Location](
		ctx,
		p.client,
		http.MethodGet,
		requestPath,
		nil,
		requestQueryParameters,
		nil,
	)



}



// GetLocationProviderIds get an array of all location provider ids.
// This function returns an array of ids of all available providers.
func (p *Providers) GetLocationProviderIds(ctx context.Context) ([]string, error) {
	requestPath := "/v1/providers"






	return sendRequestParseResponse[[]string](
		ctx,
		p.client,
		http.MethodGet,
		requestPath,
		nil,
		nil,
		nil,
	)



}



// GetProviderById get a location provider.
// Returns the location provider object with the given id.
func (p *Providers) GetProviderById(ctx context.Context, providerId string) (*LocationProvider, error) {
	requestPath := "/v1/providers/{provider_id}"
	requestPath = strings.Replace(requestPath, "{"+"provider_id"+"}", url.PathEscape(providerId), -1)






	return sendRequestParseResponse[LocationProvider](
		ctx,
		p.client,
		http.MethodGet,
		requestPath,
		nil,
		nil,
		nil,
	)



}



// GetSensorsByProviderId get sensor data.
// Returns the sensor data for the location provider with the given id.
func (p *Providers) GetSensorsByProviderId(ctx context.Context, providerId string) (*AnyType, error) {
	requestPath := "/v1/providers/{provider_id}/sensors"
	requestPath = strings.Replace(requestPath, "{"+"provider_id"+"}", url.PathEscape(providerId), -1)






	return sendRequestParseResponse[AnyType](
		ctx,
		p.client,
		http.MethodGet,
		requestPath,
		nil,
		nil,
		nil,
	)



}



// UpdateLocationByProviderId update location.
// This method updates the current location of the location provider with the given id.
func (p *Providers) UpdateLocationByProviderId(ctx context.Context, providerId string, location Location) (error) {
	requestPath := "/v1/providers/{provider_id}/location"
	requestPath = strings.Replace(requestPath, "{"+"provider_id"+"}", url.PathEscape(providerId), -1)






	_, err := sendStructuredRequestParseResponse[any](
		ctx,
		p.client,
		http.MethodPut,
		requestPath,
		nil,
		nil,
		nil,
	)

	return err



}



// UpdateLocations update locations.
// This path is used to update multiple locations in a bulk operation.
func (p *Providers) UpdateLocations(ctx context.Context, location []Location) (error) {
	requestPath := "/v1/providers/locations"






	_, err := sendStructuredRequestParseResponse[any](
		ctx,
		p.client,
		http.MethodPut,
		requestPath,
		nil,
		nil,
		nil,
	)

	return err



}



// UpdateProviderById update a location provider.
// Updates the location provider object with the given id.
func (p *Providers) UpdateProviderById(ctx context.Context, providerId string, locationProvider LocationProvider) (error) {
	requestPath := "/v1/providers/{provider_id}"
	requestPath = strings.Replace(requestPath, "{"+"provider_id"+"}", url.PathEscape(providerId), -1)






	_, err := sendStructuredRequestParseResponse[any](
		ctx,
		p.client,
		http.MethodPut,
		requestPath,
		nil,
		nil,
		nil,
	)

	return err



}



// UpdateProximities bulk update of locations based on proximity events.
// This method updates locations related to proximity events in a bulk operation. Location objects are generated internally by using the position and floor information related to the omlox™ zone that generated the proximity events.
func (p *Providers) UpdateProximities(ctx context.Context, proximity []Proximity) (error) {
	requestPath := "/v1/providers/proximities"






	_, err := sendStructuredRequestParseResponse[any](
		ctx,
		p.client,
		http.MethodPut,
		requestPath,
		nil,
		nil,
		nil,
	)

	return err



}



// UpdateProximityByProviderId update location of location provider via a proximity event.
// This method updates the current location of one location provider by an emitted proximity event. A location object is generated internally by using the position and floor information related to the omlox™ zone that generated the proximity event.
func (p *Providers) UpdateProximityByProviderId(ctx context.Context, providerId string, proximity Proximity) (error) {
	requestPath := "/v1/providers/{provider_id}/proximity"
	requestPath = strings.Replace(requestPath, "{"+"provider_id"+"}", url.PathEscape(providerId), -1)






	_, err := sendStructuredRequestParseResponse[any](
		ctx,
		p.client,
		http.MethodPut,
		requestPath,
		nil,
		nil,
		nil,
	)

	return err



}



// UpdateSensorsByProviderId update sensor data.
// This method updates the sensor data of the location provider with the given id.
func (p *Providers) UpdateSensorsByProviderId(ctx context.Context, providerId string, anyType AnyType) (error) {
	requestPath := "/v1/providers/{provider_id}/sensors"
	requestPath = strings.Replace(requestPath, "{"+"provider_id"+"}", url.PathEscape(providerId), -1)






	_, err := sendStructuredRequestParseResponse[any](
		ctx,
		p.client,
		http.MethodPut,
		requestPath,
		nil,
		nil,
		nil,
	)

	return err



}


